<div id="games-new">

  <h1>Editing Game: <%= @game.title %></h1>

  <%= render 'form', game: @game %>
  <div id="add-game">
    <%= button_to 'Go back to my profile', user_path(current_user), style: "margin-bottom: 15px", method: :get %>
  </div>
</div>
