 <div id="games-new">
 <br>
  <h1>Let's Add a cool Game!</h1>

  <div id="add-game">
    <%= render 'form', game: @game %>
  <br>

      <%= button_to "Go back to my profile", user_path(current_user), method: :get  %>
  <br>
  </div>
</div>
