.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#410287, #4d0491);
  transition: background 0.3s ease;
  border: 1px solid #35007c;
  text-decoration: none;
  font-family: 'Audiowide', cursive;
}

.btn-gradient:hover {
  background: linear-gradient(#58079c, #640ba7);
  color: white;
}

.btn-home i {
  margin-left: 5px;
  transition: transform .25s cubic-bezier(9, 9, .5,2);
}

.btn-home:hover i {
  transform: translateX(3px);
}

.btn-home {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#cc2b5e, #753a88);
  transition: background 0.5s ease;
  border: 1px solid #0F60C4;
  text-decoration: none;
}

.btn-home:hover {
  background: linear-gradient(#753a88, #cc2b5e);
  color: white;
}
