.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#410287, #4d0491);
  transition: background 0.3s ease;
  border: 1px solid #35007c;
  text-decoration: none;
  font-family: 'Audiowide', cursive;

  &:hover {
    color: black;
  }
}

.btn-gradient:hover {
  background: linear-gradient(#58079c, #640ba7);
  color: white;
}

.btn-home i {
  margin-left: 5px;
  transition: transform .25s cubic-bezier(9, 9, .5,2);
}

.btn-home:hover i {
  transform: translateX(3px);
}

#btn-add-game {
  height: 50px;
  margin-top: 50px;
  width: 15vw;
  text-align: center;
}

.btn-home {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#cc2b5e, #753a88);
  transition: background 0.5s ease;
  border: 1px solid #0F60C4;
  text-decoration: none;
}

.btn-home:hover {
  background: linear-gradient(#753a88, #cc2b5e);
  color: white;
}

.rent-page-back-button {
  font-size:15px;
  font-family: 'Audiowide', cursive;
  width:200px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#7a2a1d;
  font-weight:bold;
  border-radius: 4px;
  box-shadow:inset 0px 34px 0px -15px #b54b3a;
  text-shadow:inset 0px -1px 0px #7a2a1d;
  background:#a73f2d;

  &:hover {
    background: #b34332;
    color: black;
  }
}

.rent-page-create-button {
  font-size:15px;
  font-family: 'Audiowide', cursive;
  width:200px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#3b6e22;
  font-weight:bold;
  border-radius: 4px;
  box-shadow:inset 0px 1px 0px 0px #9acc85;
  background:linear-gradient(#74ad5a, #68a54b);
  margin: 15px 0;

  &:hover {
    background: linear-gradient(#68a54b, #74ad5a);
  }
}
