
.rent-page-game-img {
  border: 1px solid black;
  max-width: 250px;
  max-height: 250px;
  border-radius: 5px;
}

.index-page-game-img {
  // width: 200px;
}

.user-page-game-img {
  width: 200px;
}
