
.rent-page-game-img {
  border: 1px solid rgb(255, 255, 255);
  max-width: 250px;
  max-height: 250px;
}

.index-page-game-img {
  height: 60%;
  border-radius: 10px;
  margin: 10px 0;
}

.user-page-game-img {
  width: 200px;
}
