#ubanner {
  background-image: url(https://res.cloudinary.com/guijafrone/image/upload/v1654280645/MANI%20GAMES/background/nintendo64-controller_trrwf2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  color: white;

  margin: 0 40px 0 40px;
  text-align: center

}
