.ubtn-gradient {
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: small;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  // border: 1px solid #0F60C4;
  &:hover{
    background: linear-gradient(#6294d2, #5695e7);
    color: white;
  }
}
