.ucard-trip {
  // overflow: hidden;
  background: white;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.9);
  margin: 10px;
  border-radius: 15px;
  width: 25vw;
  height: 54vh;
  padding-bottom: 10px;
}

.ucard-trip > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  // padding: 15px;
  margin-bottom: 10px;
  object-position: top;
  border-radius: 10px 10px 0 0;
}

.ucard-trip h2 {
  line-height: 20px;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  text-align: initial;
}

.ucard-trip h6 {
  color: black;
  font-weight: lighter;
  text-decoration: none;
  font-family: 'Audiowide', cursive;
}


.ucard-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


.ucard-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
